body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border-radius: 40%;
    width: 50px;
    height: 50px;
}

.leftheader {
    display: inline-flex;
    gap: 16px;
    align-items: center;
    margin-left: 72px;
}

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 16px;
    margin: 0 72px 0 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headertext {
    color: #F9FAF8;
    font-size: 24px;
}

.subtext {
    color: #E5E7EB
}

.full {
    background-color: #3882F6;
}